:root {
  --primary-text-color: #efe7e2;
  --secondary-text-color: #ffffff;
  --accent-text-color: #ff6e40;
  --background-color: #3b322d;
  --card-set-gap: 30px;
  --social-links-fill: #afb1b8;
}

.btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.52;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 51px;
  gap: 12px;
  border-radius: 2px;
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
}

.title {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.text {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  max-width: 580px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 35px 0 35px;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: currentColor;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.adress__list {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.adress__item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.bg-img {
  background-image: url(../../images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/bg@2\\(1).webp");
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 670px;
}

.main-wrapper {
  display: flex;
  gap: 20px;
}

.main-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__title {
  max-width: 682px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 1.1;
  color: var(--secondary-text-color);
}

.main__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;
  border: 1px solid #efe7e2;
}

.main__content {
  width: 301px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.bg-color {
  background-color: #251d1a;
}

.description__list {
  display: flex;
  justify-content: space-between;
}

.descripton__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desctiptoin__title {
  font-family: "Fira Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 25px;
  margin-bottom: 10px;
}

.description__text {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #b7aaa2;
}

.about-us__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}/*# sourceMappingURL=main.css.map */