.header-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 35px 0 35px;
}
.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: currentColor;
}
.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.nav__item {
}

.adress__list {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.adress__item {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}

.adress__item-wrapper {
}
