.price__list {
  display: flex;
  gap: 20px;
  margin-bottom: 150px;
}
.price__item {
}
.price__title {
  font-family: 'Fira Sans';
  font-weight: 500;
  font-size: 30px;
  line-height: 1.33;

  color: #efe7e2;
  margin-bottom: 20px;
  margin-top: 20px;
}
.offers li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.offers__title {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.73;

  color: var(--primary-text-color);
}
.offers-wrapper {
  display: flex;
  gap: 10px;
}
.offers__time {
  color: #b7aaa2;
}
.offers {
  border-right: 2px solid #b7aaa2;
  padding-right: 10px;
}
