.btn {
  max-width: fit-content;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.52;

  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 51px;
  gap: 12px;
  border-radius: 2px;
  border: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
}
