.text {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;

  text-align: center;
  margin: 0 auto;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  max-width: 580px;
}
